<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyClSSHV2CdYx8X4iR9hGcNScne57iMgWJo</string>
	<key>GCM_SENDER_ID</key>
	<string>742083963858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoppingOrganizer</string>
	<key>PROJECT_ID</key>
	<string>shopping-finanse</string>
	<key>STORAGE_BUCKET</key>
	<string>shopping-finanse.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742083963858:ios:8a0abb4d4885307345760b</string>
</dict>
</plist>